<div class="signup-page">
  <form class="signup-form" action="">
    <span class="signup-form__title">Регистрация</span>
    {{{FormInput
      title="Почта"
      name="email"
      ref="email"
      validateFn=ValidateFunc.email
    }}}
    {{{FormInput
      title="Логин"
      name="login"
      ref="login"
      validateFn=ValidateFunc.login
    }}}
    {{{FormInput
      title="Имя"
      name="first_name"
      ref="first_name"
      validateFn=ValidateFunc.name
    }}}
    {{{FormInput
      title="Фамилия"
      name="second_name"
      ref="second_name"
      validateFn=ValidateFunc.name
    }}}
    {{{FormInput
      title="Телефон"
      type="tel"
      name="phone"
      ref="phone"
      validateFn=ValidateFunc.phone
    }}}
    {{{FormInput
      title="Пароль"
      type="password"
      name="password"
      ref="password"
      validateFn=ValidateFunc.password
    }}}
    {{{FormInput
      title="Пароль (еще раз)"
      type="password"
      name="password"
      ref="password2"
      validateFn=ValidateFunc.password
    }}}
    <br />
    {{{FormButton title="Зарегистрироваться" onClick=signUpHandler}}}
    {{{FormButton title="Войти" transparent=true onClick=lognHandler}}}
  </form>
</div>
