<div class="form-input">
  <label class="form-input__title">
    <input class="form-input__input" value={{value}} type="{{#if type}}"{{type}}{{else}}"text"{{/if}} name={{name}} />
  </label>
  <hr>
  {{#if validation}}
  <div class="form-input__validation">{{validation}}</div>
  {{/if}}
</div>
